# LOG_LEVEL, LOG_HTML, CAPTCHA_SOLVER and TZ 
# used by Flaresolverr

# TZ, PUID, PGID 
# used by Sonarr, Prowlarr, 
# Radarr, Recyclarr, Overseerr,
# Deluge

LOG_LEVEL=info
LOG_HTML=false
CAPTCHA_SOLVER=none
TZ=Etc/UTC
PUID=1000
PGID=1000

# Automatically creates the config file
# for recyclarr
RECYCLARR_CREATE_CONFIG=true

# Optional - alternative address 
# used for autodiscovery
# Used by Jellyfin
JELLYFIN_PublishedServerUrl=https://your.domain.com

# Deluge log level by Deluge
# Optional
DELUGE_LOGLEVEL=error